@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,700,500,400italic,500italic,700italic,300italic);

body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #fff;
    background-image: url("https://drive.google.com/uc?export=view&id=1rC6eLMrSte_hzhKnzg3kFZXqISYVDUKm");
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 18px;
}

.title {
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    font-family: 'Fira Sans', sans-serif;
    margin-top: 10em;
}

.analyze {
    font-family: 'Fira Sans', sans-serif;
    margin-top: 5em;
}

.upload-label {
    font-family: 'Fira Sans', sans-serif;
    padding: 10px;
    font-size: 18px;
}

.result-label {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    margin-top: 0.5em;
    padding: 10px;
    font-size: 18px;
}

button.choose-file-button {
    font-family: 'Fira Sans', sans-serif;
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #7052CB;
    font-size: 16px;
    color: #7052CB;
}

button.analyze-button {
    font-family: 'Fira Sans', sans-serif;
    width: 200px;
    height: 40px;
    border: solid 1px #7052CB;
    border-radius: 2px;
    background-color: #7052CB;
    font-size: 16px;
    color: #ffffff;
}

button:focus {
    outline: 0;
}
